<h1>New Library</h1>
<%= form_for @library do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :county_ids %>
    <%= f.collection_check_boxes(:county_ids, County.all, :id, :name) do |b| %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Library' %>
  </div>
<% end %>

<div>
  <%= link_to "Back to libraries", libraries_path %>
</div>

